# =============================
# LARGE FILES – DO NOT TRACK
# =============================

# Pretrained weights
*.pth
*.pt
*.ckpt
*.safetensors

# Checkpoints
checkpoint_egfr.pth
checkpoints/
checkpoints_5fold/

# =============================
# DATA FILES – DO NOT TRACK
# =============================

data/images/
data/masks_raw_binary/
data/folds/
data/*.csv

# Allow configs folder EXCEPT .csv inside it
!configs/
configs/*.csv

# =============================
# PYTHON & SYSTEM FILES
# =============================

__pycache__/
*.pyc
.ipynb_checkpoints/
*.log
.DS_Store
